<h1>Java</h1>
<aside class="alert note">You're on a shared server with shared resources. All game servers and any other Java-based applications that consume large amounts of memory and other resources will not be permitted. This includes BTC/LTC mining and encoding.</aside>

<p>This article will show you how to install a version of Java to your slot for use with applications. There is a version installed server-wide, but some apps require a newer version.</p>
<p>You'll need to execute some commands via SSH to use this software. There is a separate guide on how to <a href="../slots/ssh">connect to your slot via SSH</a>. Commands are kept as simple as possible and in most cases will simply need to be copied and pasted into the terminal window (then executed by pressing the <kbd>Enter</kbd> key).</p>

<details id="toc" open>
    <summary>Table of contents</summary>
    <nav>
        <ol>
            <li><a href="#installation">Installation</a>
                <ul>
                    <li><a href="#installation-notes">Installation notes</a></li>
                </ul>
            </li>
            <li><a href="#usage">Using Java</a></li>
            <li><a href="#troubleshooting">Troubleshooting</a></li>
            <li><a href="#uninstallation">Uninstallation</a></li>
        </ol>
    </nav>
</details> 

<h2 id="installation">Installation</h2>
<p>Install Java by logging in via SSH, then copying and pasting the following:</p>
<pre><kbd>mkdir -p ~/bin &amp;&amp; bash
wget -qO ~/java.tar.gz https://javadl.oracle.com/webapps/download/AutoDL?BundleId=239848_230deb18db3e4014bb8e3e8324f81b43
tar xf ~/java.tar.gz --strip-components=1 -C ~/
rm ~/java.tar.gz</kbd></pre>

<h3 id="installation-notes">Installation notes</h3>
<p>Java versions are downloaded using a BundleID number that corresponds to a specific version. It's therefore not possible to provide a link which would always download the most up-to-date version. Feel free to contribute to this page by updating bearing in mind the following requirements:</p>
<dl>
    <dt>URL</dt>
    <dl>https://www.java.com/en/download/linux_manual.jsp</dl>  
    <dt>Version</dt>
    <dd>Linux x64</dd>
</dl>
<p>The RPM versions (64-bit or otherwise) and the non-x64 version will not work with the listed steps.</p>

<h2 id="usage">Using Java</h2>
<p>You can check the version of Java your user is running (or, more accurately, can run when called by other software) with the following command:</p>
<p><kbd>~/bin/java -version</kbd></p>
<p>Java is used by a number of other apps and specific configuration instructions should therefore be sought on the app's pages.</p>

<h2 id="troubleshooting">Troubleshooting</h2>
<dl>
    <dt>When I try to run the version command I get <samp>No such file or directory</samp> even though the file is clearly there</dt>
    <dd><p>The most likely answer to this is that you downloaded the Linux version rather than the Linux x64 version. Whilst for some legacy reasons some servers may still have 32-bit support, the majority do not and this will not be added. Please make sure you're using the x64 version.</p></dd>
</dl>

<h2 id="uninstallation">Uninstallation</h2>
<aside class="alert note">The commands below will completely remove the software and its config files - back up important data first!</aside>
<p><kbd>rm ~/bin/java ~/javaws</kbd></p>