<h1>pyLoad</h1>
<p>This article will show you how to install and pyLoad for first use. pyLoad can be used as a download manager for different video sites and one-click hosters.</p>

<p>You'll need to execute some commands via SSH to install and configure this software. There is a separate guide on how to <a href="../slots/ssh">connect to your slot via SSH</a>. Commands are kept as simple as possible and in most cases will simply need to be copied and pasted into the terminal window (then executed by pressing the <kbd>Enter</kbd> key).</p>

<details id="toc" open>
    <summary>Table of contents</summary>
    <nav>
        <ol>
            <li><a href="#installation">Installation</a>
                <ul>
                    <li><a href="#installation-notes">Installation notes</a></li>
                    <li><a href="#pre-config">Configuring before starting pyLoad</a></li>
                </ul>
            </li>
            <li><a href="#start-stop-restart">Starting, stopping and restarting</a>
                <ul>
                    <li><a href="#auto-restart">Automatically restarting pyLoad if it is not running</a></li>
                </ul>
            </li>
            <li><a href="#configure">Configuring</a></li>
            <li><a href="#usage">Using pyLoad</a></li>
            <li><a href="#uninstallation">Uninstallation</a></li>
            <li><a href="#external-links">External links</a></li>
        </ol>
    </nav>
</details> 

<h2 id="installation">Installation</h2>
<p>Install pyLoad by logging in via SSH, then copying and pasting the following:</p>
<pre><kbd>wget -qO ~/pyload.deb $(curl -s https://api.github.com/repos/pyload/pyload/releases/latest | grep 'browser_' | cut -d\" -f4 | head -n 1)
dpkg -x ~/pyload.deb ~/pyLoad
rm ~/pyLoad/usr/bin/pyLoadCli ~/pyLoad/usr/share/pyload/pyLoadCli.py
cp -r ~/pyLoad/usr/* ~/
wget -qO ~/pyLoad.zip https://github.com/pyload/pyload/archive/stable.zip
unzip ~/pyLoad.zip &amp;&amp; cd ~/pyload-stable
cp -r ~/pyload-stable/* ~/share/pyload/
cd &amp;&amp; rm -rf ~/pyLoad* ~/pyload-stable/ ~/pyload.deb</kbd></pre>

<h3 id="installation-notes">Installation notes</h3>
<p>pyLoad requires pycurl. If you do not have pycurl available (or do not know if you do), copy and paste the following:</p>
<p><kbd>pip install --user pycurl</kbd></p>
<p>If your binary directory (<samp>~/bin</samp>) is not in PATH you'll need to give the full path when trying to run the software in that directory. A better alternative is to <a href="/wiki/getting-started/newbie-info#pathfix">add the bin directory to PATH</a>.</p>
<p>The rest of the guide assumes you have done this and will simply use <kbd>pyLoadCore</kbd> to run the software, instead of <kbd>~/bin/pyLoadCore</kbd>.</p>

<h3 id="pre-config">Configuring before starting pyLoad</h3>
<p>pyLoad requires some configuration before we can properly start it up and begin to use it. Fortunately, it comes with a config wizard which does a lot of the legwork for us. Start that wizard by executing <kbd>pyLoadCore --configdir=$HOME/.pyload</kbd>.</p>
<p>Throughout the wizard you'll see certain options surrounded by <samp>[]</samp> - this simply means that they're the default option and pressing <kbd>enter</kbd> with no options supplied will select that default option. Here are the options you should select:</p>
<dl>
    <dt>Choose your Language</dt>
    <dd>Enter the code for your language, default is English</dd>
    <dt>When you are ready for system check...</dt>
    <dd>Press <kbd>enter</kbd></dd>
    <dt>...see your status report</dt>
    <dd>Press <kbd>enter</kbd></dd>
    <dt>Continue with setup?</dt>
    <dd>Press <kbd>enter</kbd></dd>
    <dt>Change config path?</dt>
    <dd>Press <kbd>enter</kbd></dd>
    <dt>Make basic setup?</dt>
    <dd>Press <kbd>enter</kbd></dd>
    <dt>Username</dt>
    <dd>Your desired username here</dd>
    <dt>Password (and confirmation)</dt>
    <dd>Your desired password</dd>
    <dt>Enable remote access</dt>
    <dd>n</dd>
    <dt>Language</dt>
    <dd>Enter the code for your language, default is English</dd>
    <dt>Downloadfolder</dt>
    <dd>A path to downloads, e.g. <kbd>~/Downloads</kbd></dd>
    <dt>Max parallel downloads</dt>
    <dd>Press <kbd>enter</kbd></dd>
    <dt>Use Reconnect?</dt>
    <dd>Press <kbd>enter</kbd></dd>
    <dt>Configure ssl?</dt>
    <dd>Press <kbd>enter</kbd></dd>
    <dt>Configure webinterface?</dt>
    <dd>Press <kbd>enter</kbd></dd>
    <dt>Activate webinterface?</dt>
    <dd>Press <kbd>enter</kbd></dd>
    <dt>Address</dt>
    <dd>Press <kbd>enter</kbd></dd>
    <dt>Port</dt>
    <dd>Put a random port number between 10000 and 30000.</dd>
    <dt>Server</dt>
    <dd>Press <kbd>enter</kbd></dd>
    <dt>Template</dt>
    <dd>Choose the template you want</dd>
</dl>
<p>At this point, you'll need to press <kbd>enter</kbd> to close pyLoad. Contrary to how the message may be interpreted, pyLoad will not be restarted automatically and must be done so manually. The next section covers this.</p>


<h2 id="start-stop-restart">Starting, stopping and restarting</h2>
<p>This section covers the pyLoad process - starting it, stopping it and restarting it. It also covers checking if the process is running, in case that becomes necessary.</p>
<dl>
    <dt>start</dt>
    <dd><kbd>screen -dmS pyLoad -- pyLoadCore --configdir=$HOME/.pyload</kbd></dd>
    <dt>check running</dt>
    <dd><kbd>pgrep -fu "$(whoami)" "bin/pyLoadCore"</kbd></dd>
    <dt>stop</dt>
    <dd><kbd>kill "$(pgrep -fu "$(whoami)" "pyLoadCore")"</kbd></dd>
    <dt>restart</dt>
    <dd><kbd>kill "$(pgrep -fu "$(whoami)" "pyLoadCore")" &amp;&amp; sleep 3 &amp;&amp; screen -dmS pyLoad -- pyLoadCore --configdir=$HOME/.pyload</kbd></dd>
    <dt>kill (force stop)</dt>
    <dd><kbd>kill -9 "$(pgrep -fu "$(whoami)" "pyLoadCore")"</kbd></dd>
</dl>
<p>The check running command will return a process number if pyLoad is running. If it doesn't return anything, pyLoad is not running.</p>

<h3 id="auto-restart">Automatically restarting pyLoad if it is not running</h3>
<p>Cron jobs can be used to check if pyLoad is running and start it up if it is not. There is a separate page on <a href="../slots/cron">configuring cron jobs</a>.</p>

<h2 id="usage">Using pyLoad</h2>
<p>To connect to pyLoad, enter the following into your web browser (where <var>server</var> is the name of your server (e.g. themis) and <var>port</var> is replaced by the port number you entered in the configuration wizard):</p>
<p><kbd>http://<var>server</var>.feralhosting.com:<var>port</var></kbd></p>
<p>If you don't recall what the port was, you can retrieve it with the following command:</p>
<p><kbd>grep -A 7 'webinterface' ~/.pyload/pyload.conf | grep "Port"</kbd></p>

<h2 id="uninstallation">Uninstallation</h2>
<aside class="alert note">The commands below will completely remove the software and its config files - back up important data first!</aside>

<pre><code>kill -9 "$(pgrep -fu "$(whoami)" "pyLoadCore")"
rm -rf ~/bin/pyLoadCore ~/share/pyload ~/.pyload</code></pre>

<h2 id="external-links">External links</h2>
<ul>
    <li><a href="https://github.com/pyload/pyload">pyLoad homepage</a></li>
</ul>